# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints

# Databases
*.db

# Env / secrets
.env

# OS
.DS_Store
Thumbs.db

# Build / locks
uv.lock

# IDE
.vscode/
.idea/